<?xml version="1.0" encoding="utf-8"?>
<plan xmlns="xsdLessonPlan">
  <columns xmlns="">
    <theme_columns>
      <column id="71589" colType="1" colName="" showOnCoursePage="false" visibleFor="everyone" />
      <column id="71604" colType="0" colName="-" showOnCoursePage="false" visibleFor="everyone" />
    </theme_columns>
    <lesson_columns>
      <column id="71592" colType="13" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="71593" colType="3" colName="Aktivitet og underviser" showOnCoursePage="true" visibleFor="everyone" />
      <column id="71594" colType="5" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="71596" colType="4" colName="Emne og indhold" showOnCoursePage="true" visibleFor="everyone" />
      <column id="71598" colType="8" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="71599" colType="9" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="71600" colType="12" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="71597" colType="7" colName="" showOnCoursePage="true" visibleFor="everyone" />
      <column id="71605" colType="0" colName="Andet" showOnCoursePage="false" visibleFor="everyone" />
    </lesson_columns>
  </columns>
  <themes xmlns="">
    <theme themeId="12009">
      <title>Subject plan {{course_name}}</title>
      <customs>
        <custom id="71604" colName="-">Below is the lecture plan for {{course_name}}</custom>
      </customs>
      <lessons>
        {%- for week in ww_dict %}
        <lesson>
          <name>{{course_name + " " + week['week']|string + " - " + week['teacher']}}</name>
          <description>{{week['description']}}</description>
          <start>{{week['date_start']}}T07:00:00</start>
          <stop>{{week['date_end']}}T14:15:00</stop>
          <customs>
            <custom id="71605" colName="Andet">
              {{ "<p>Week "+ week['week']|string + " resources on <a target=\"_blank\" href=\""+ pages_url +"/weekly-plans/weekly_ww"+ week['week']|string + "\">gitlab</a></p>" | e }}
            </custom>
          </customs>
        </lesson>
        {%- endfor %}
      </lessons>
    </theme>
  </themes>
</plan>
